body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 250px;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  text-align: right;
}

button {
  width: 50px;
  height: 40px;
  margin: 2px;
}