jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Fix jest permissions
        run: chmod +x ./node_modules/.bin/jest || true

      - name: Show node and npm info
        run: |
          node -v
          npm -v
          npm list

            - name: Run Tests
        run: npx --no-install jest --runInBand --verbose